.scite-badge .scite-tally {
    width: 75px;
    border-radius: 8px;
    border: 1px solid #cfcfcf;
    overflow: hidden;
    min-height: 120px;

    box-sizing: border-box;
}

.scite-badge[data-layout='horizontal'] .scite-tally {
    width: 185px;
    min-height: 0px;
    max-height: 32px;
}

.badges {
    overflow: scroll;
    width: 200px;
    height: 600px;
    margin-left: 400px;
}
