.tooltip {
    font-family: "Circular";
    font-size: 16px;

    opacity: 0;
    pointer-events: none;
    will-change: opacity;
    transition: opacity 200ms ease-in-out;

    padding: 16px;

    border: 1px solid #ebebeb;
    background-color: white;
    box-shadow: 0px 0px 37px 0px rgba(0,0,0,0.05);

    z-index: 9999;

    width: 250px;
    height: auto;

    cursor: pointer;
}

.tooltipShow {
    opacity: 1;
    pointer-events: auto;
}

.tooltip[data-placement="top"] {
    margin-bottom: 2px;
}

.tooltip[data-placement="left"] {
    margin-right: 2px;
}

.tooltip[data-placement="right"] {
    margin-left: 2px;
}

.tooltip[data-placement="bottom"] {
    margin-top: 2px;
}

.tooltip[data-placement="top"]:after, .tooltip[data-placement="top"]:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tooltip[data-placement="top"]:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #FFFFFF;
	border-width: 10px;
	margin-left: -10px;
}

.tooltip[data-placement="top"]:before {
	border-color: rgba(235, 235, 235, 0);
	border-top-color: #ebebeb;
	border-width: 11px;
	margin-left: -11px;
}

.tooltip[data-placement="left"]:after, .tooltip[data-placement="left"]:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tooltip[data-placement="left"]:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #ffffff;
	border-width: 10px;
	margin-top: -10px;
}

.tooltip[data-placement="left"]:before {
	border-color: rgba(235, 235, 235, 0);
	border-left-color: #ebebeb;
	border-width: 11px;
	margin-top: -11px;
}

.tooltip[data-placement="right"]:after, .tooltip[data-placement="right"]:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tooltip[data-placement="right"]:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 10px;
	margin-top: -10px;
}

.tooltip[data-placement="right"]:before {
	border-color: rgba(235, 235, 235, 0);
	border-right-color: #ebebeb;
	border-width: 11px;
	margin-top: -11px;
}

.tooltip[data-placement="bottom"]:after, .tooltip[data-placement="bottom"]:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tooltip[data-placement="bottom"]:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #FFFFFF;
	border-width: 10px;
	margin-left: -10px;
}

.tooltip[data-placement="bottom"]:before {
	border-color: rgba(235, 235, 235, 0);
	border-bottom-color: #ebebeb;
	border-width: 11px;
	margin-left: -11px;
}

.reference {
    /* So it doesn't get wider than the badge itself
     * based on the width of the container */
    width: 75px;
}

.tooltipContent {
    font-size: 14px;
}

.slogan {
    display: block;
    margin-top: 4px;
}

.tally {
    line-height: 1.5;
}

.tallyCounts {
    display: inline-block;
    width: 50px;
    margin-top: 12px;
}

.labels {
    display: inline-block;
}

.label {
    display: block;
    margin-left: 8px;
}

.button {
    margin-top: 12px;
    font-weight: bold;
    font-size: 12px;
}

.message {
    color: #828179;
}

.bold {
    font-weight: bold;
    color: black;
}

.link {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
    transition: 200ms opacity ease-in-out;
}

.link:hover, .link:active {
    opacity: 0.8;
}

.button {
    display: inline-block;
    background-color: #007aff;;

    border-radius: 20px;

    padding: 4px 8px;

    color: white;
    text-decoration: none;

    transition: background-color 200ms ease-in-out;
}

.button:hover {
    background-color: #4da3ff;
}
