.scite-badge {
    width: 75px;
    border-radius: 8px;
    border: 1px solid #cfcfcf;
    overflow: hidden;
    min-height: 120px;
}

.scite-badge[data-layout='horizontal'] {
    width: auto;
    min-height: 0px;
    max-height: 32px;
}
